<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Connecté.Properties.Settings.paysConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\pays.mdb" providerName="System.Data.OleDb"/>
        <add name="Connecté.Properties.Settings.testConnectionString" connectionString="server=localhost;User Id=root;database=test" providerName="MySql.Data.MySqlClient"/>
        <add name="Connecté.Properties.Settings.testConnectionString1" connectionString="server=localhost;User Id=test;password=passe;database=test" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
